
*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
   

}
section{
    position: relative;
   width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    overflow: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    padding: 20px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:-70px;
   
    
}
a:hover{
    color:chartreuse; 

    border-radius:20px;
}

header .logo{
    position: relative;
    max-width: 50px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: 
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.content .textbox{
    margin-left:-70px;
    position: relative;
    max-width: 500px;
    margin-top:-210px;
}

.content .textbox h2{
    color: #333;
    font-size: 3rem;
    line-height: 1.1em;
    font-weight: 500;

}

.content .textbox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 700;
}

.content .textbox p{
    color: #333;

}
.content1 .textbox1 p{
    color: #333;

}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

}
.content1 .textbox1 a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

}

.content .imgbox{
    width: 900px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px ;
    margin-top: 50px;
}

.content .imgbox img{
    max-width: 340px;
}

.Starbucks{
    margin-bottom:150px;
    margin-top: -60px;
}
#babu{
    margin-left: 80px;
}
.thumb{
    position:absolute;
    left: 50%;
    bottom:20px;
    transform: translate(-50%);
    display: flex;
    margin-left: -130px;

}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    margin-bottom: 240px;
    transition: 0 5s;

}

.thumb li :hover{
    transform:translateY(-15px);
}

.thumb li img{
    max-width:70px;
}

.sci{
    position:absolute;
    top: 34%;
    right:5px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 700px);
    overflow: hidden;
}

.content1 {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
}

.content1 .textbox1 h2{
    color: #333;
    font-size: 3rem;
    line-height: 1.1em;
    font-weight: 500;

}
.content1 .textbox1 h2{
    color: #333;
    font-size: 2rem;
    line-height: 1.1em;
    font-weight: 500;

}
.content1 .textbox1 h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 700;
}


#contact_id{
	padding:15px;
	margin:0;
color:black;
font-size:25px;
font-family: century gothic;
line-height:35px;

margin:0px;
}
legend{
    font-size: 30px;
}

/*----------------------start product coding----------------------*/


.product h2{
    font-size: 50px;
  margin-left: 240px;
    font-weight: 700;
    color: #017143;
    margin-bottom: 40px;
   

}
.box{
    height: 200px;
   
    width: 200px;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
    inset 4px 4px 10px white;
border-radius: 20px !important;
overflow: hidden;
float: left;
margin: 0 10px 40px 10px;

}

button{
    background: #017143;
    margin-left: 60px;
    height: 30px;
    width: 80px;
    color:white;
    border-radius: 10px;
}
h3{
    color: #017143;
    text-align: center;
    font-size: 14px;
}
h4{
    text-align: center;
    color: rgb(89, 22, 72);
    font-family: sans-serif;
    font-size: 20px;
}